* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(3, 3, 3);
    color: #fff; 
}

.stopWatch {
    font-size: 4rem;
    padding: 15px;
    width: 400px;
    margin: 20px;
    background: rgb(20, 19, 19);
    border: 2px solid rgb(45, 45, 45);
    border-radius: 20px;
    box-shadow: 4px 4px 7px 5px rgb(21, 21, 21),
    inset -2px -2px 5px 3px rgb(18, 17, 17),
    -4px -4px 7px 5px rgb(17, 17, 17),
    inset 2px 2px 5px 3px rgb(10, 7, 7);
    text-align: center;
}

.btn-container {
    display: flex;
    gap: 20px;
    margin: 20px;
    padding: 20px;
}

.btn {
    background: rgb(26, 25, 25);
    padding: 10px 15px;
    font-size: 1.2rem;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgb(25, 25, 25);
    transition: all 0.3s ease;
}

.btn:hover {
    background: rgb(47, 46, 46);
    cursor: pointer;
    transform: translateY(-2px);

}

.btn:active {
    background-color: white;
    color: black;
}

.millis {
    font-size: 1rem;
}